body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav li {
    margin-right: 20px;
}

header nav a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

header nav a:hover {
    color: #00eaff;
}

main {
    padding: 20px;
}

main section {
    margin-bottom: 20px;
}

main h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

main p {
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}